.header__container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
}

.header__item {
  font-size: 20px;
  color: white;
  margin: 0;
  padding: 0;
}
